@{ ViewBag.Title = "Create New Role"; }

<h1>Create New Role</h1>

<form asp-action="CreateMembershipHome" asp-controller="Home" enctype="multipart/form-data">




    <div class="form-group">
        <input type="submit" value="Pay" class="btn btn-primary" />
    </div>
</form>